*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Le header */
header
{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.logo-formeplate-header /*Logo de La Plateforme_*/
{
    height: 80%;
    float: left;
}
/* Menu déroulant */
nav
{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}
nav ul
{
    list-style-type: none;
}
nav ul li
{
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}
nav ul::after
{
    content: "";
    display: table;
    clear: both;
}
nav a
{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 1px 0px;
}
nav a:hover
{
    color: #336699ff;
    border-bottom: 2px solid #336699ff;
}
.en-dessous
{
    display: none;
    box-shadow: 0px 1px 27px #CCC;
    background-color: white;
    position: absolute;
    width: 70%;
    z-index: 1000;
}
nav > ul li:hover .en-dessous
{
    display: block;
}
.en-dessous li
{
    float: none;
    width: 100%;
    text-align: left;
}
.en-dessous a
{
    padding: 10px;
    border-bottom: none;
}
.en-dessous a:hover
{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.menu-deroulant > a::after
{
    content:" ▼";
    font-size: 11px;
}
nav
{
    font-family: 'Roboto Slab', serif;
}
/* Le corps */
.resume
{
    background-color: #336699;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}
.resume-formeplate
{
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 25px;
}
.resume-formeplate-zone
{
    width: 30%;
    height: 30%;
}