*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Le header */
header
{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.logo-formeplate-header /*Logo de La Plateforme_*/
{
    height: 80%;
    float: left;
}
/* Menu déroulant */
nav
{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}
nav ul
{
    list-style-type: none;
}
nav ul li
{
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}
nav ul::after
{
    content: "";
    display: table;
    clear: both;
}
nav a
{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 1px 0px;
}
nav a:hover
{
    color: #336699ff;
    border-bottom: 2px solid #336699ff;
}
.en-dessous
{
    display: none;
    box-shadow: 0px 1px 27px #CCC;
    background-color: white;
    position: absolute;
    width: 70%;
    z-index: 1000;
}
nav > ul li:hover .en-dessous
{
    display: block;
}
.en-dessous li
{
    float: none;
    width: 100%;
    text-align: left;
}
.en-dessous a
{
    padding: 10px;
    border-bottom: none;
}
.en-dessous a:hover
{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.menu-deroulant > a::after
{
    content:" ▼";
    font-size: 11px;
}
nav
{
    font-family: 'Roboto Slab', serif;
}
/* Page d'accueil */
/* Résumé */
.resume
{
    background-color: #336699;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.resume-formeplate
{
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 25px;
}
.resume-formeplate-zone
{
    width: 30%;
    height: 30%;
}
/*Bouton*/
.bouton-1
{
    background-color: #ff2063ff;
    border-radius: 20px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.bouton-1:hover, .bouton-1:focus
{
    background-color: #F082AC;
}
.bouton-2
{
    margin-top: 10%;
    background-color: #ffca4b;
    border-radius: 20px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.bouton-2:hover, .bouton-1:focus
{
    margin-top: 10%;
    background-color: #ffe19b;
}
.conditions, .temoignages-resume
{
    font-family: 'Roboto', sans-serif;
    color: white;
}
/* Les cursus */
.classe-titre
{
    font-family: 'Roboto Slab', serif;
    color: #336699;
    font-size: 45px;
}
.classe-titre-zone
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.classes
{
    margin-top: 2%;
    width: 100%;
}
.web-coding, .ai, .cybersec
{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.web-coding-img, .ai-img, .cybersec-img, .recrue-talent-img
{
    height: 150px;
    width: 150px;
}
.cursus
{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    align-items: center;
}
.classe-titres
{
    margin-top: 5%;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    color: #336699;
}
.recrue-talent-titres
{
    font-family: 'Roboto Slab', serif;
    color: #336699;
    font-size: 15px;
    width: 50%;
}
.recrue-talent
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.div-vide
{
    margin-top: 5%;
}
/* Témoignages */
.temoignages-titre
{
    margin-top: 2%;
    font-size: 45px;
    font-family: 'Roboto Slab', serif;
    color: white;
}
.temoignages
{
    background-color: #ffa000;
}
.temoignages-zone
{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.youtube-videos
{
    margin-top: 4%;
}
/* Footer */
footer
{
    background-color: #313131;
    display: flex;
    justify-content: space-around;
}
.logo-formeplate-footer
{
    width: 110%;
}
/* Style logo réseaux sociaux */
.fa
{
    padding: 10px;
    width: 15%;
    text-align: center;
    text-decoration: none;
}  
.fa:hover
{
    opacity: 0.7;
}
.fa-facebook
{
    background: #3B5998;
    color: white;
}
.fa-twitter
{
    background: #55ACEE;
    color: white;
}
.fa-linkedin
{
    background: #007bb5;
    color: white;
}  
.fa-youtube
{
    background: #bb0000;
    color: white;
}  
.fa-instagram
{
    background: #125688;
    color: white;
}
.logo-et-reseaux
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 2ème section */
.titre-2section
{
    font-family: 'Roboto Slab', serif;
    color: white;
}
.lien-2section
{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.section-2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bouton-3
{
    margin-top: 10%;
    background-color: #313131;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
/* Style de liens */
.footer-links:link
{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.footer-links:visited
{
    color: grey;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}  
.footer-links:hover
{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.footer-links:active
{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.copyright
{
    background-color: black;
}